<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body id="body">

    <ul>
        <li><button onclick="Ex1.setup()">Ex1: Create canvas</button></li>
        <li><button onclick="Ex2.setup()">Ex2: Load Image</button></li>
        <li><button onclick="Ex3.setup()">Ex3: Load Image to canvas</button></li>
        <li><button onclick="setup()">Ex4: Flipbook animation</button></li>
    </ul>

    <script src="../scripts/Canvas.js"></script>
</body>
</html>
